$primary-color: #3976be;
$secondary-color: #216583;
$black: #000000;
$white: #FFFFFF;

$border-color: #e2e2e2;
$input-bg: #edf2f8;
$input-color: #525252;
$link-color: #1F2B3A;

$footer-color: #11171F;

$header-color: #2C486B;
$header-color-2: #2B3B41;
$para-color: #6D7886;

$status-gray: #C4C4C4;
$status-blue: #C4C4C4;

$box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.03);
$custom-box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.05);
$transition: .2s ease-in-out;

$chat-header: #2B3B41;
$chat-sub-header: #677175;

$border-color-2: lighten(#D8D8D8, 10);

// Admin Colors
$admin-side: #F4F7FA;
$admin-bg: #EFF2F7;
$admin-border: #DEDEDE;
$a-link-hover: #EDEFF1;
$admin-text: #39434A;
$admin-input: #ced4da;
$admin-btn: #979797;
$admin-para: #666767;
