.profile-tag {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
} 
.tag-img {
    width: 60px;
    height: 60px;
}
.tag-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
.profile-tag h3 {
    height: 100%;
    line-height: 70px;
    margin: 0 10px;
    font-size: 18px;
}
.custom-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    a {
       color: #3976be;
    }
}
.wone-inner-main {
    width: 100%;
    padding: 1em;
    height: 82vh;
    overflow: scroll;
}
.wone-tab-content {
    padding: 0 10px 0;
    padding-bottom: 20px;
    article {
        padding: 0 0 10px;
        p {
            font-size: 13px;
            margin-bottom: 5px;
            font-weight: 100;
        }
    }
} 