.facebook-icon{
  background-image: url(../img/facebook.svg);
}
.google-icon{
  background-image: url(../img/google.svg);
}
.stay-reliable-icon{
  background-image: url(../img/icons/available-24-7-icon.svg);
}
.call-icon{
  background-image: url(../img/icons/call-icon.svg);
}
.call-cancel-icon{
  background-image: url(../img/icons/call-cancel-icon.svg);
}
.call-log-icon{
  background-image: url(../img/icons/call-logs-icon.svg);
}
.dialer-icon{
  background-image: url(../img/icons/dialer-icon.svg);
}
.call-dial-icon{
  background-image: url(../img/icons/call-dial-icon.svg);
}
.faq-icon{
  background-image: url(../img/icons/faq-icon.svg);
}
.fast-response-icon{
  background-image: url(../img/icons/fast-response-icon.svg);
}
.customizable-icon{
  background-image: url(../img/icons/customizable-icon.svg);
}
.faq-icon{
  background-image: url(../img/icons/faq-icon.svg);
}
.online-question-icon{
  background-image: url(../img/icons/online-question-icon.svg);
}
.online-support-icon{
  background-image: url(../img/icons/online-support-icon.svg);
}
.recharge-account-icon{
  background-image: url(../img/icons/recharge-account-icon.svg);
}
.support-icon{
  background-image: url(../img/icons/support-icon.svg);
}
.video-chat-icon{
  background-image: url(../img/icons/video-chat-icon.svg);
}
.connect-whatsapp-icon{
  background-image: url(../img/icons/connect-whatsapp-icon.svg);
}
.management-icon{
  background-image: url(../img/icons/management-icon.svg);
}
.stronger-team-icon{
  background-image: url(../img/icons/stronger-team-icon.svg);
}
.record-call-icon{
  background-image: url(../img/icons/record-call-icon.svg);
}
.off-hour-icon{
  background-image: url(../img/icons/off-hour-icon.svg);
}
.chat-send-icon{
  background-image: url(../img/icons/chat-send-icon.svg);
}
.file-share-icon{
  background-image: url(../img/icons/file-share-icon.svg);
}
.om-options-icon{
  background-image: url(../img/icons/horizontal-option-icon.svg);
}
.mm-options-icon{
  background-image: url(../img/icons/vertical-options-icon.svg);
}
.f-dl-icon{
  background-image: url(../img/icons/down-load-icon.svg);
}
.search-icon{
  background-image: url(../img/icons/search-icon.svg);
}
.phone-call-icon{
  background-image: url(../img/icons/phone-call-icon.svg);
}
.video-call-icon{
  background-image: url(../img/icons/chat-video-call-icon.svg);
}
.chat-video-call-icon{
  background-image: url(../img/icons/chat-video-call-icon.svg);
}
.caret-icon{
  background-image: url(../img/icons/caret-icon.svg);
}

.mic-icon{
  background-image: url(../img/icons/mic-icon.svg);
}
.end-call-icon{
  background-image: url(../img/icons/end-call-icon.svg);
}
.end-call-2-icon{
  background-image: url(../img/icons/end-call-2-icon.svg);
}
.speaker-icon{
  background-image: url(../img/icons/speaker-icon.svg);
}
.keypad-icon{
  background-image: url(../img/icons/keypad-icon.svg);
}
.past-calls-icon{
  background-image: url(../img/icons/past-calls-icon.svg);
}
.add-icon{
  background-image: url(../img/icons/add-icon.svg);
}
.menu-icon{
  background-image: url(../img/icons/menu-icon.svg);
}
.guide-icon{
  background-image: url(../img/icons/guide-icon.svg);
}
.chat-info-icon{
  background-image: url(../img/icons/chat-info-icon.svg);
}
.talk-info-icon{
  background-image: url(../img/icons/talk-info-icon.svg);
}
.connect-info-icon{
  background-image: url(../img/icons/connect-info-icon.svg);
}
.explore-info-icon{
  background-image: url(../img/icons/explore-info-icon.svg);
}
.video-info-icon{
  background-image: url(../img/icons/video-info-icon.svg);
}
.success-check-icon{
  background-image: url(../img/icons/success-check-icon.svg);
}
.nill-icon{
  background-image: url(../img/icons/nill-icon.svg);
}
.mastercard-icon{
  background-image: url(../img/icons/mastercard.svg);
}
.sync-icon{
  background-image: url(../img/icons/sync-icon.svg);
}
.trash-icon{
  background-image: url(../img/icons/trash-icon.svg);
}
.transfer-icon{
  background-image: url(../img/icons/transfer-icon.svg);
}
.expand-icon{
  background-image: url(../img/icons/expand-icon.svg);
}
.resize-icon{
  background-image: url(../img/icons/resize-icon.svg);
}
.user-add-icon{
  background-image: url(../img/icons/user-add-icon.svg);
}

// tabs
.user-tab-icon{
  background-image: url(../img/icons/user-tab-icon.svg);
}
.chat-tab-icon{
  background-image: url(../img/icons/chat-tab-icon.svg);
}
.call-tab-icon{
  background-image: url(../img/icons/call-tab-icon.svg);
}
.admin-user-icon{
  background-image: url(../img/icons/admin-user-icon.svg);
}

.delete-entry-icon{
  background-image: url(../img/icons/delete-entry-icon.svg);
}
.dial-calls-icon{
  background-image: url(../img/icons/dial-calls-icon.svg);
}
.dial-users-icon{
  background-image: url(../img/icons/dial-users-icon.svg);
}
.dial-keypad-icon{
  background-image: url(../img/icons/dial-keypad-icon.svg);
}
.dial-text-icon{
  background-image: url(../img/icons/dial-text-icon.svg);
}
// Admin icons
.home-icon{
  background-image: url(../img/icons/home-icon.svg);
}
.users-icon{
  background-image: url(../img/icons/users-icon.svg);
}
.timing-icon{
  background-image: url(../img/icons/timing-icon.svg);
}
.progress-icon{
  background-image: url(../img/icons/progress-icon.svg);
}
.settings-icon{
  background-image: url(../img/icons/settings-icon.svg);
}
.manage-share-icon{
  background-image: url(../img/icons/manage-share-icon.svg);
}
.email-confirmation-icon{
  background-image: url(../img/icons/email-confirmation-icon.svg);
}

// Call Overlay
.record-call-2-icon{
  background-image: url(../img/icons/record-call-2-icon.svg);
}
.cancel-video-icon{
  background-image: url(../img/icons/cancel-video-icon.svg);
}
.microphone-icon{
  background-image: url(../img/icons/microphone-icon.svg);
}
.arrow-right-icon{
  background-image: url(../img/icons/arrow-right-icon.svg);
}
