*,
button:focus,
.btn{
  outline: none;
}
body{
  width: 100%;
  display: flex;
  flex-direction: column;
}
/*********************************************
  Defaulting Styles
**********************************************/
