// Small devices (landscape phones, 576px and up)
@media (max-width: 575.98px) {
  .wonesupport-land-footer{
    position: relative;
  }
  .content-wrapper {
    min-height: 100vh;
    margin-bottom: 3em;
    .form-phase {
      .form-content {
        position: absolute;
        top: 60%;
        left: 50%;
        width: 75%;
    }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .wonesupport-land-footer{
    position: relative;
  }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
