.footer-style{
  margin-top: 5em;
}
.success_emailbanner {
  text-align: center;
  height: 205px;
  margin-bottom: 15px;
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.wone__regist-container{
  .succes-heading{
    color: #14dc3f;
    font-weight: 400;
    font-size: 1.6em;
    &.tiny {
      font-weight: 200;
    }
  }
}
.sub-tag{
    a{
      width: 109.76px;
      height: 12.4px;
      color: #4883c6;
    }
}
.confirmation__message{
  margin-top: 3em;
  &.bs-stepper article {
    max-width: 455px;
  }
  .form-group {
    text-align: center;
    margin-top: 2em;
    button.wone-stepper{
      max-width: 300px;
      margin: 10px auto 2em;
    }
  }
}
